@charset "UTF-8";
@font-face {
  font-family: "GoghExtraBold";
  src: url("../fonts/GoghExtraBold.eot");
  src: url("../fonts/GoghExtraBold.eot") format("embedded-opentype"), url("../fonts/GoghExtraBold.woff2") format("woff2"), url("../fonts/GoghExtraBold.woff") format("woff"), url("../fonts/GoghExtraBold.ttf") format("truetype"), url("../fonts/GoghExtraBold.svg#GoghExtraBold") format("svg");
}
/* les variables avec sass */
:root {
  font-family: Arial, Helvetica, sans-serif;
  --bg-site: #ffffff;
  --heading: #f20505;
  --content: #161c40;
  --link: #f2a30f;
  --link-hover: #f27507;
  --heading: GoghExtraBold;
}

.alert-bad, .alert-ok, .alert {
  display: block;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}

/* les classes */
figure.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

iframe.video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.ambiance-rouge {
  color: darkred;
  font-weight: bold;
}

.ambiance-verte {
  color: darkgreen;
  font-weight: bold;
}

.alert-ok {
  background-color: rgba(0, 100, 0, 0.5);
  border-color: darkgreen;
}

.alert-bad {
  background-color: rgba(139, 0, 0, 0.5);
  border-color: darkred;
}

.carre {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #161c40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  width: 100%;
}

.pageUp {
  width: 50px;
  height: 50px;
  border: 5px solid var(--link-hover);
  background-color: var(--link);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 10px;
  right: 20px;
  opacity: 50%;
  z-index: 3;
}
.pageUp a {
  color: white;
  text-decoration: none;
  transform: rotate(-90deg);
  display: block;
}
.pageUp:hover {
  background-color: var(--link-hover);
}

/* régler les problèmes de calcul des boîtes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* éléments génériques */
img,
video {
  max-width: 100%;
}

body {
  margin: 0;
}
body > header {
  background-color: var(--content);
  color: var(--bg-site);
  padding: 0.1rem 0.5rem;
}
body > nav {
  background-color: var(--content);
}
body > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body > nav ul li a {
  display: block;
  line-height: 2rem;
  padding: 2px 25px;
  color: var(--link);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
body > nav ul li a:visited {
  display: block;
  line-height: 2rem;
  padding: 2px 25px;
  color: var(--link);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
body > nav ul li a:hover, body > nav ul li a:focus, body > nav ul li a:active {
  color: var(--content);
  background-color: var(--link);
}
body > main,
body > nav > ul,
body > footer > div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body > main > nav h3,
body > nav > ul > nav h3,
body > footer > div > nav h3 {
  color: var(--link);
  padding-left: 25px;
}
body > main {
  padding: 5px 10px;
}
body > main > section > article {
  border: 0px solid transparent;
  padding: 5px;
}
body > footer {
  background-color: var(--content);
}
body > footer > div > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body > footer > div > nav ul li a {
  display: block;
  line-height: 2rem;
  padding: 2px 25px;
  color: var(--link);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
body > footer > div > nav ul li a:visited {
  display: block;
  line-height: 2rem;
  padding: 2px 25px;
  color: var(--link);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
body > footer > div > nav ul li a:hover, body > footer > div > nav ul li a:focus {
  color: var(--content);
  background-color: var(--link);
}

@media screen and (min-width: 576px) {
  body > main,
body > nav > ul,
body > footer > div {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  body > main,
body > nav > ul,
body > footer > div {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  body > main,
body > nav > ul,
body > footer > div {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  body > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > main > section > article {
    width: 50%;
  }
  body > main > section > article:last-child:nth-child(2n+0) {
    width: 100%;
  }
  body > footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > footer nav {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  body > main,
body > nav > ul,
body > footer > div {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  body > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > main > section > article {
    width: 33%;
  }
  body > main > section > article:last-child:nth-child(2n+0) {
    width: 66%;
  }
  body > main > section > article:last-child:nth-child(2n+1) {
    width: 100%;
  }
  body > footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > footer nav {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  body > main,
body > nav > ul,
body > footer > div {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  body > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > main > section > article {
    width: 33%;
  }
  body > footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body > footer nav {
    width: 50%;
  }
}

/*# sourceMappingURL=output.css.map */
