/* les variables avec sass */

$white: #ffffff;
$font-base:  Arial, Helvetica, sans-serif;
$red: #f20505;
$dark-marine-blue : #161c40;
$light-orange: #f2a30f;
$orange: #f27507;
$font-heading: "GoghExtraBold";

:root {
    font-family: #{$font-base};
    --bg-site: #{$white};
    --heading: #{$red};
    --content: #{$dark-marine-blue};
    --link: #{$light-orange};
    --link-hover: #{$orange};
    --heading: #{$font-heading};
  }
