
:root {
    font-family: Arial, Helvetica, sans-serif;
    --bg-site: #ffffff; /* white #fff rgb(255, 255, 255) rgba(255, 255, 255, 1) */
    --heading: #f20505;
    --content: #161c40;
    --link: #f2a30f;
    --link-hover: #f27507;
    --heading: "GoghExtraBold";
  }