
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$rwd-max-width: (
  sm: 540,
  md: 720,
  lg: 960,
  xl: 1140,
  xxl: 1320
);

$rwd-column-width: (
    sm: 100%,
  md: 50%,
  lg: 50%,
  xl: 33%,
  xxl: 33%
);