$white: white;
$darker-red: #6d0000;
$dark-red: #b80000;
$another-red:#b30303;
$light-red: #d80000;
$orange: #da801a;
$light-orange: #e69a28;
$dark-grey: #444;
$grey: #707070;
$another-grey: #404040;
$lighter-grey: #888;
$lighter-orange:#fdf1dc;
$lighter-green: #dbe2c2;
$black: black;
$title-1: Georgia, "'Times New Roman'", serif;
$normal-font: Arial, sans-serif;